<div>
  <md-toolbar [color]="warn" class="toolbar">
    <div class="toolbar-head">{{list.name}}</div>
    <md-toolbar-row *ngFor="let item of list.items">
      <app-item [data]="item"></app-item>
    </md-toolbar-row>
  </md-toolbar>
</div>
