.toolbar {
  border: 1px solid black;
  max-width: 300px;
  float: left;
  margin-left: 1rem;
  margin-block-end: 1rem;
}

.toolbar-head {
  background-color: #eee;
  width: 100%;
  user-select: none;
}
