<h4>Loop</h4>
<p *ngFor="let x of ['a', 'b']; let i = index; let last = last; trackBy: i">
  {{i}}
  <span *ngIf="last">
    last element
  </span>
</p>
<h4>Async Pipe</h4>
<span>
  {{testArray | async}}
</span>
<h4>Change Detection Func</h4>
<span>
  {{testFunc()}}
</span>
<h4>Change Detection Value</h4>
<span>
  {{value2}}
</span>
