<header>
  <div class="pull-right">
    <a routerLink="boards" routerLinkActive="active-route" >boards</a>
    <a routerLink="directive" routerLinkActive="active-route" >directive</a>
    <a routerLink="random-guard" routerLinkActive="active-route">random guard</a>
  </div>
  <div class="brand-label">
    <a routerLink="/">Home</a>
  </div>
</header>
