header {
  background-color: rgba(42, 44, 49, 1);
}

.brand-label {
  font-size: 2rem;
  margin: 0.1rem 0.3rem;
}

.brand-label a {
  text-decoration: none;
  color: #2d787b;
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(95, 165, 173, 0.7);
}

.pull-right {
  float: right;
}

header .pull-right a {
  font-size: 1rem;
  margin: 0.1rem 0.3rem;
  color: #2d787b;
  line-height: 70px;
}
