<p>
  <a [routerLink]="['/boards']">Boards</a>
</p>
<p>
  <a *ngFor="let id of boards" [routerLink]="['/boards/b', id]" routerLinkActive="active-route"> Board {{id}} </a>
</p>
<div>
  <app-list *ngFor="let list of lists; let i = index; let i = index" [list]="list" interpolationValue="{{i}}"></app-list>
</div>
