<h4>Structural directive</h4>
<div *ngFor="let e of ['aa','bb','cc']">
  <div *task="e">
    <div> {{e}}
      <input type="checkbox" [attr.id]="e">
    </div>
  </div>
  <!--<ng-template [task]="e">
    <div> {{e}}
      <input type="checkbox" [attr.id]="e">
    </div>
  </ng-template>-->
  <!--<div template="task e">
    <div> {{e}}
      <input type="checkbox" [attr.id]="e">
    </div>
  </div>-->
</div>
<h4>Attribute Directive</h4>
<div outside-click-painter>
  Click outside and change bg color
</div>
