.content p {
  margin: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h4,
ul {
  font-style: italic;
}

.info {
  text-align: center;
  background-color: rgba(62, 65, 71, 1);
  margin: 1rem;
  padding: 1rem;
}

.info-text {
  text-shadow: 0 0.05rem 0.1rem rgba(255, 254, 223, .6);
  color: rgba(255, 254, 223, 1);
  
}

.info hr {
  border-top: 1px solid rgba(62, 65, 71, 1);
  box-shadow: 0 0 0.2rem rgba(255, 254, 223, 1);
}

.info .btn-custom {
  margin-top: 1rem;
}

@media(max-width: 500px) {
  .content {
    font-size: 90%;
  }
  h1 {
    font-size: 2rem;
  }
  .info {
    min-width: 15rem;
  }
}

@media(min-width: 500px) {
  .info {
    min-width: 20rem;
  }
}

@media(max-width: 996px) {
  .info h1 {
    font-size: 1.4rem;
  }
  .info {
    font-size: 0.8rem;
  }
}
