<div class="content full-height">
  <div class="container-fluid info info-text">
    <div class="row justify-content-md-center">
      <div class="col-12 col-sm-10 col-md-10 col-lg-8 offset-sm-1 offset-md-0">
        <h1> Demo app </h1>
        <hr/>
        <ul>
          <li>Routing</li>
          <li>Components</li>
          <li>Directives</li>
          <li>Services</li>
        </ul>
        <a routerLink="/boards" class="btn btn-custom"> Стартуем </a>
        <!--<a routerLink="/signup">Signup</a>-->
      </div>
    </div>
  </div>
</div>
