/* You can add global styles to this file, and also import other style files */

@import url('./assets/bootstrap.min.css') all;
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html,
body {
  margin: 0;
  padding: 0;
  /*background: url('./assets/background.jpg') repeat;*/
  background-color: rgba(255, 254, 223, 1);
  font-family: Montserrat;
  height: 100%;
  font-size: 24px;
}

.full-height {
  height: 100%;
}

.content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-custom {
  color: rgba(255, 254, 223, 1);
  text-decoration: none;
  user-select: none;
  background: rgb(212, 75, 56);
  padding: .7rem 1.5rem;
  outline: none;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(62, 65, 71, 1);
  box-shadow: 0 0 0.5rem rgba(212, 75, 56, 1);
  border-radius: 0;
  font-size: 100%;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  box-shadow: 0 0 0.5rem rgba(212, 75, 56, 1);
  background: rgb(232, 95, 76);
  color: rgba(255, 254, 223, 1);
}

.active-route {
  text-decoration: underline;
}